<h1 class="mt-5 ms-5  shadow-lg p-2 mb-5" style="width: 200px;">Tarefa</h1>
<hr />
<!--class do Bootstrap
    colocando ele para ir na rota new, clicando no botao
-->
<button type="button" class="btn btn-primary bg-primary mb-2" [routerLink]="['/new']">
  Nova Tarefa
</button>

<section>
  <ul class="list-group">
    <li class="list-group-item task-item" *ngFor="let task of tasks">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" />
      </div>

      <div [innerHTML]="task.description" class="task-item-description"
      [ngClass]="task.completed ? 'task-completed' : '' ">
      <!-- Interpolation -->

      </div>

      <div>
      <button type="button" [routerLink]="['/edit', task.id]" class="btn btn-primary mr-1">Alterar</button>
      </div>

      <div>
      <button type="button" id="button-1"  class="btn btn-danger mt-2">Excluir</button>
      </div>
    </li>
  </ul>
</section>
