<h1 class="mt-5 ms-5  p-2 mb-3" style="width: 200px;">Tarefa</h1>
<hr />
<!--class do Bootstrap
    colocando ele para ir na rota new, clicando no botao
-->
<button type="button" class="btn btn-primary bg-primary mb-2" [routerLink]="['/new']">
  Nova Tarefa
</button>

<section>
  <div *ngIf="tasks.length == 0" class="alert alert-warning" role="alert"> <!--só um alerta-->
    Nenhuma tarefa foi encontrada ainda.
  </div>


  <ul class="list-group">
    <li class="list-group-item" *ngFor="let task of tasks">
        <app-task-list-item [task]="task" class="task-item"></app-task-list-item>
    </li>
  </ul>
</section>
